{% extends 'base.html' %}

{% block content %}
<div class="container">

<h1>My Account</h1>

<hr>

<h2>📍 Saved Addresses</h2>

<p>

<a class="btn" href="{% url 'add_address' %}">
+ Add New Address
</a>

</p>

{% if addresses %}

{% for address in addresses %}

<div class="card" style="margin-bottom:20px;">

<h3>{{ address.full_name }}</h3>

<p>{{ address.phone }}</p>

<p>

{{ address.address_line }}

<br>

{{ address.city }}

{{ address.state }}

-

{{ address.pincode }}

</p>

{% if address.landmark %}

<p>

Landmark :
{{ address.landmark }}

</p>

{% endif %}

{% if address.is_default %}

<p style="color:green;">

<b>Default Address</b>

</p>

{% else %}

<a class="btn"

href="{% url 'set_default_address' address.id %}">

Make Default

</a>

{% endif %}

<a class="btn"

href="{% url 'delete_address' address.id %}">

Delete

</a>

</div>

{% endfor %}

{% else %}

<p>

No Address Added Yet.

</p>

{% endif %}

<hr>

<h2>

📦 Recent Orders

</h2>

{% if orders %}

{% for order in orders %}

<div class="card"

style="margin-bottom:20px;">

<h3>

Order #

{{ order.order_number }}

</h3>

<p>

<b>Total :</b>

₹{{ order.total_amount }}

</p>

<p>

<b>Status :</b>

{{ order.status }}

</p>

<p>

<b>Payment :</b>

{{ order.payment_method }}

</p>

<p>

<b>Date :</b>

{{ order.created_at|date:"d M Y" }}

</p>

<a class="btn"

href="{% url 'order_history' %}">

View All Orders

</a>

</div>

{% endfor %}

{% else %}

<p>

No Orders Yet.

</p>

{% endif %}

</div>
{% endblock %}