{% extends 'base.html' %}

{% block content %}

<div class="hero">

    <h1 style="font-size:34px;margin-bottom:12px;">
        Furniture Store
    </h1>

    <p style="font-size:16px;">
        Beautiful wooden furniture for your home
    </p>

</div>

<div class="container">

<h1 style="font-size:26px;margin-bottom:25px;">
    Featured Products
</h1>

<div style="
display:grid;
grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
gap:35px;
">

{% for product in products %}

<div class="card">

<img
src="{{ product.image.url }}"
style="
width:100%;
height:220px;
object-fit:cover;
">

<h2>{{ product.name }}</h2>

<p style="font-size:18px;">
₹{{ product.price }}
</p>

<a class="btn"
href="{% url 'product_detail' product.id %}">
View Details
</a>

<a class="btn"
href="{% url 'add_to_cart' product.id %}">
Add to Cart
</a>

</div>

{% empty %}

<p>No Featured Products</p>

{% endfor %}

</div>

</div>

{% endblock %}