{% extends 'base.html' %}

{% block content %}

<div class="container">

<h1 style="margin-bottom:30px;">Checkout</h1>

<div style="display:grid;
grid-template-columns:2fr 1fr;
gap:30px;
align-items:start;">

<!-- LEFT -->

<div class="card">

<h2>Delivery Address</h2>

<form method="POST">

{% csrf_token %}

<input type="text"
name="full_name"
placeholder="Full Name"
required
style="width:100%;padding:12px;margin:12px 0;">

<input type="text"
name="phone"
placeholder="Phone Number"
required
style="width:100%;padding:12px;margin:12px 0;">

<textarea
name="address_line"
placeholder="Address"
required
style="width:100%;padding:12px;margin:12px 0;height:70px;"></textarea>

<input type="text"
name="city"
placeholder="City"
required
style="width:100%;padding:12px;margin:12px 0;">

<input type="text"
name="state"
placeholder="State"
required
style="width:100%;padding:12px;margin:12px 0;">

<input type="text"
name="pincode"
placeholder="Pincode"
required
style="width:100%;padding:12px;margin:12px 0;">

<h3>Payment Method</h3>

<label>
<input type="radio"
name="payment_method"
value="COD"
checked>

Cash on Delivery

</label>

<br><br>

<label>

<input type="radio"
name="payment_method"
value="ONLINE">

Online Payment

</label>

<br><br>

<button class="btn"
type="submit">

Place Order

</button>

</form>

</div>

<!-- RIGHT -->

<div class="card">

<h2>Order Summary</h2>

{% for item in items %}

<p>

{{ item.product.name }}

×

{{ item.quantity }}

=

₹{{ item.subtotal }}

</p>

{% endfor %}

<hr>

<h2>

Total:

₹{{ total }}

</h2>

</div>

</div>

</div>

{% endblock %}