{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card shadow p-5">

<h2>

Complete Payment

</h2>

<hr>

<h4>

Amount : ₹{{ amount|floatformat:2 }}

</h4>

<br>

<button id="rzp-button" class="btn btn-success">

Pay Now

</button>

</div>

</div>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>

var options = {

key: "{{ razorpay_key_id }}",

amount: "{{ amount }}",

currency: "INR",

name: "Furniture Store",

description: "Order Payment",

order_id: "{{ razorpay_order_id }}",

callback_url: "{% url 'payment_verify' %}"

};

var rzp = new Razorpay(options);

document.getElementById('rzp-button').onclick = function(e){

rzp.open();

e.preventDefault();

}

</script>

{% endblock %}